<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=e, initial-scale=1.0">
    <link rel="stylesheet" href="/boostrap/bootstrap.css">
    <title>EJS</title>
</head>
<body>
    <h1>Bonjour Bao KUD ee</h1>
    <p><%= text %></p>
    